:root {
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

}
body::before{
    content: "";
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333bb;
    z-index: -1;  
}

h1,
h2,
h3,
h4 {
    color: var(--blanco);
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
    font-weight: normal;
}
p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

img {
    max-width: 100%;
}

.contenedor {
    width: min(95%, 768px);
    margin: 0 auto;
}

.centrar {
    text-align: center;
}

.header {
    margin: 0 auto;
    padding: 2rem 0 0 0;
}
.logo {
    display: inline-block;
    border-radius: 50%;
    animation: pulso 2s infinite;
    background: radial-gradient(circle, #00d4ff, #001f3f);
    width: 12rem;
}

.logo img {
    display: block;
    border-radius: 50%;
}

@keyframes pulso {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 212, 255, 0.6);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(0, 212, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 212, 255, 0);
    }
}

.header__user {
    font-weight: bold;
}

.header__info {
    font-weight: normal;
}

.principal__titulo {
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
}
.grid a:last-of-type{
    grid-column: 1 / 3;
}

.red {
    background-color: rgba(255, 166, 0, 0);
    backdrop-filter: blur(.6rem);
    border: 1px solid #ffffff20;
    border-radius: 1rem;
    color: var(--blanco);
    display: flex;
    align-items: center;
}

.red__foto {
    border-radius: 50rem;
    width: 6rem;
    border: 1px solid var(--blanco);
    margin: .8rem;
}


.footer__info {
   margin: 3rem 0;
}
